node_modules/
.env
.env.server
deploy.sh
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
*.log
*.swp
*.swo
*.pycache/
*.pyc
*~
venv
backend/staticfiles/
.vscode/
.idea/
build/
coverage/
*.tar.gz

# iOS specific ignores
mobile/ios/build/
mobile/ios/DerivedData/
mobile/ios/*.xcworkspace/xcuserdata/
mobile/ios/*.xcodeproj/xcuserdata/
mobile/ios/*.xcodeproj/project.xcworkspace/xcuserdata/
mobile/ios/Pods/
mobile/ios/Podfile.lock
mobile/ios/*.ipa
mobile/ios/*.dSYM.zip
mobile/ios/*.dSYM/
mobile/ios/GoogleService-Info.plist
mobile/ios/fastlane/report.xml
mobile/ios/fastlane/Preview.html
mobile/ios/fastlane/screenshots
mobile/ios/fastlane/test_output
mobile/ios/AppStoreConnect/
mobile/ios/IDEWorkspaceChecks.plist
mobile/ios/.xcode.env.local
mobile/ios/.ios-team-id

# Android specific ignores
mobile/android/build/
mobile/android/app/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/*.iml
mobile/android/.idea/
mobile/android/.cxx/
mobile/android/captures/
mobile/android/.externalNativeBuild/
mobile/android/app/release/
mobile/android/app/debug/
mobile/android/*.apk
mobile/android/*.aab
mobile/android/app/*.apk
mobile/android/app/*.aab
mobile/android/gradle.properties
mobile/android/key.properties
mobile/android/app/google-services.json
mobile/android/.DS_Store
mobile/android/*
mobile/ios
